@import url('colores.css');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:400,700');
/* Header*/

.navbar-default{
  border-radius: 0;
  font-family: "Montserrat";
  border-width: 0 0 1px 0;
}
.navbar-lobos{
  margin-left: 0;
  margin-bottom: 0;
  border-bottom: 3px solid #EE3A39;

}
.navbar-lobos .navbar-brand{
  height: 100px;
}

.navbar-toggle{
	margin: 30px;
}
.social-wrapper{
	line-height: 6em;
}

.fa-white{
color: white;
}

.icon-background-facebook{
	color: #3b5999; 
}

.icon-background-twitter{
	color: #55acee; 
}

.icon-background-youtube{
	color: #cd201f; 
}

/* Noticias */
.thumb-noticia{
	min-height: 400px;
}
.thumb-noticia img{
	margin-bottom: 5px;
}
.jumbotron .noticia{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; 
}
/* Banners */
.banners .thumb{
	margin: 25px 0;
}

/* Slider */
.slider{
	padding-top: 250px;
}
.carousel-control{
  background-image: none !important;
}
.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}


/* Botonera */
.botonera{
  padding-top:50px;
}

.boton{
	text-align: center;
	padding: 50px 0;
	color: #fff;
}
.shortcut{
	text-align: center;
}
.shortcut span {
    color: #fff;
    text-align: center;
    margin: 0px auto 25px auto;
    width: 112px;
    height: 112px;
    border-radius: 70px;
    position: relative;
    display: block;
    padding: 24px 4px 25px 0;
}
.boton .fa{
	margin-bottom: 5px;
}

.boton:hover{
	opacity: 0.8;
}

/* Secciones */
.header-seccion{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

.header-seccion{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

/* Footer */
footer{
	padding: 30px 0 30px;
	margin-top: 80px;
	border-top: 1px solid #EE3A39;

}
 footer .navbar-default{
 	border: none;
 }


/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {
.slider{
    height: 300px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  .slider{
    height: 480px;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { ... }