/*shotcuts*/
.shortcuts-section {
  margin: 15px 0;
  background: red; }

.shorcut-font-style, .pane-shortcut, .pane-shortcut a, .shortcut-title {
  text-transform: uppercase;
  color: grey; }

.arg-shortcut {
  margin-bottom: 15px; }

.shortcut {
  color: #FFF;
  margin: 0 auto;
  width: auto;
  height: 100px;
  border-radius: 0;
  display: block;
  text-align: center; }

.shortcut .glyphicon {
  top: 28%; }

.shortcut-transparent {
  background-color: transparent; }

.shortcuts-section .glyphicon {
  padding-top: 30%;
  font-size: 48px;
  padding-left: 28%; }

.shortcuts-section p {
  color: #888; }

/**/
.shorcut-icon {
  border: 3px dotted #dedede;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 5em;
  box-sizing: border-box; }

.shortcut-title {
  font-size: 1.25em; }

.shortcut-base {
  color: #ee3737; }

.shortcut-uno {
  color: #23ccc7; }

.shortcut-dos {
  color: #dfbd42; }

.shortcut-tres {
  color: #e95728; }

.shortcut-cuatro {
  color: #b077d8; }

.shortcut-cinco {
  color: #2775a3; }

.shortcut-seis {
  color: #039cdf; }

.shortcut-siete {
  background-color: #ddd; }

/* footer */
footer {
  padding-top: 3%;
  padding-bottom: 5%;
  margin-top: 0 !important;
  background: #fff;
  color: #555; }

.logo-footer {
  padding: 0 0 0 15px; }

footer p {
  font-size: 0.85em;
  color: #666; }

footer a {
  font-size: 0.85em;
  color: #666; }

.footer-inside {
  line-height: 0; }

footer .links-rel ul {
  list-style: none;
  margin: 0;
  padding: 0; }

footer .links-rel li {
  margin: 15px 0; }

footer .links-rel li:nth-child(1) {
  margin-top: 0; }

/* Pie municipio */
.footer-municipio {
  padding-top: 30px; }

/* Pie institucional */
.footer-institucional {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  margin-top: 30px; }
  .footer-institucional .logo-pais-digital,
  .footer-institucional .logo-ministerio-modernizacion {
    display: block; }
    .footer-institucional .logo-pais-digital img,
    .footer-institucional .logo-ministerio-modernizacion img {
      height: 60px; }
  .footer-institucional .logo-ministerio-modernizacion {
    text-align: right; }

@media (max-width: 768px) {
  /* Pie institucional */
  .footer-institucional .logo-pais-digital img,
  .footer-institucional .logo-ministerio-modernizacion img {
    text-align: center;
    margin: 15px auto;
    display: block; } }

/* Pie de municipio */
.view-content .logo-municipio,
.view-content .info-municipio {
  border-right: 1px solid #ddd; }

.view-content .logo-municipio,
.view-content .info-municipio,
.view-content .telefono_municipio {
  float: left;
  width: 33.33333%;
  padding: 5px 30px;
  box-sizing: border-box; }
  .view-content .logo-municipio .span,
  .view-content .info-municipio .span,
  .view-content .telefono_municipio .span {
    display: block; }
  .view-content .logo-municipio .img-thumbnail,
  .view-content .info-municipio .img-thumbnail,
  .view-content .telefono_municipio .img-thumbnail {
    border: none;
    padding: 0;
    max-height: 60px;
    width: auto; }

.view-content .logo-municipio {
  text-align: right; }

.view-content .info-municipio {
  font-size: 110%;
  text-align: center; }

@media (max-width: 768px) {
  /* Pie de municipio */
  .view-content .logo-municipio,
  .view-content .info-municipio {
    border-right: none; }
  .view-content .logo-municipio,
  .view-content .info-municipio,
  .view-content .telefono_municipio {
    float: none;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box; }
    .view-content .logo-municipio .span,
    .view-content .info-municipio .span,
    .view-content .telefono_municipio .span {
      display: block; }
    .view-content .logo-municipio .img-thumbnail,
    .view-content .info-municipio .img-thumbnail,
    .view-content .telefono_municipio .img-thumbnail {
      border: none;
      padding: 0;
      max-height: 60px;
      width: auto; }
  .view-content .logo-municipio {
    text-align: center;
    margin-bottom: 15px; }
  .view-content .info-municipio {
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px; }
  .view-content .telefono_municipio {
    text-align: center;
    margin-bottom: 15px; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* Pie de municipio */
  .view-content .logo-municipio,
  .view-content .info-municipio {
    border-right: none; }
  .view-content .logo-municipio,
  .view-content .info-municipio,
  .view-content .telefono_municipio {
    float: none;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box; }
    .view-content .logo-municipio .span,
    .view-content .info-municipio .span,
    .view-content .telefono_municipio .span {
      display: block; }
    .view-content .logo-municipio .img-thumbnail,
    .view-content .info-municipio .img-thumbnail,
    .view-content .telefono_municipio .img-thumbnail {
      border: none;
      padding: 0;
      max-height: 60px;
      width: auto; }
  .view-content .logo-municipio {
    text-align: center;
    margin-bottom: 15px; }
  .view-content .info-municipio {
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px; }
  .view-content .telefono_municipio {
    text-align: center;
    margin-bottom: 15px; } }

/* Pie institucional */
.footer-institucional {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  margin-top: 30px; }
  .footer-institucional .logo-pais-digital img,
  .footer-institucional .logo-ministerio-modernizacion img {
    height: 60px; }

#badistro-carousel {
  margin-top: 0; }
  #badistro-carousel .carousel-caption {
    text-align: left;
    right: 0;
    /* right: 20%; */
    padding-bottom: 0;
    background: #c81111;
    height: 100%;
    width: 30%;
    bottom: 0;
    padding: 15px;
    left: initial;
    right: 0; }
    #badistro-carousel .carousel-caption > h3,
    #badistro-carousel .carousel-caption > p {
      text-shadow: none; }
    #badistro-carousel .carousel-caption > h3 {
      color: white; }
    #badistro-carousel .carousel-caption > p {
      font-size: 1.1em; }
  #badistro-carousel .img-thumbnail {
    padding: 0; }

.separator-top {
  clear: both;
  height: 40px; }

/* Separador */
.separator {
  clear: both;
  height: 30px;
  width: 100%; }
  .separator.linea {
    height: auto;
    padding: 30px 0; }
    .separator.linea hr {
      display: block;
      margin: 0 !important;
      padding: 0 !important;
      height: 1px;
      background: #ddd; }
  .separator.spaceless {
    display: block;
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    height: 0px;
    background: transparent; }

/* Footer Redes sociales */
.mini-social,
#block-menu-menu-redes-sociales ul.menu.nav {
  margin: 0;
  padding: 0; }

.mini-social li,
#block-menu-menu-redes-sociales ul.menu.nav li {
  display: inline;
  margin: 0;
  padding: 0; }

.mini-social a,
#block-menu-menu-redes-sociales ul.menu.nav li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Facebook {
  background-image: url(../img/social-fb.png);
  background-image: url(../img/social-fb.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Twitter {
  background-image: url(../img/social-tw.png);
  background-image: url(../img/social-tw.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Google {
  background-image: url(../img/social-gp.png);
  background-image: url(../img/social-gp.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Youtube {
  background-image: url(../img/social-yt.png);
  background-image: url(../img/social-yt.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Flickr {
  background-image: url(../img/social-fl.png);
  background-image: url(../img/social-fl.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-RSS {
  background-image: url(../img/social-rss.png);
  background-image: url(../img/social-rss.svg), none;
  background-size: cover;
  background-color: transparent; }

.linkredes {
  padding: 7px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  line-height: 33px;
  color: #797676; }

.linkredes .titulo {
  font-size: 15px;
  padding-top: 5px; }

/* Imagen destacada Home */
.imagen-destacada {
  box-sizing: border-box;
  background: #801212;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden; }
  .imagen-destacada .img-container {
    height: 400px;
    overflow: hidden; }
  .imagen-destacada .descripcion {
    padding: 15px;
    background: transparent;
    color: #fff; }
    .imagen-destacada .descripcion h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
      font-weight: 600;
      text-transform: uppercase; }
    .imagen-destacada .descripcion p {
      font-size: 1.1em; }

@media (max-width: 768px) {
  .imagen-destacada .img-container {
    height: auto; } }

/* 
Agregado para las columnas de bootstrap.
Grilla de 10 columnas.
*/
@media (min-width: 992px) {
  .ucol-md-1, .ucol-md-2, .ucol-md-3, .ucol-md-4, .ucol-md-5, .ucol-md-6, .ucol-md-7, .ucol-md-8, .ucol-md-9 {
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
  .ucol-md-10 {
    width: 100%;
    clear: both; }
  .ucol-md-1 {
    width: 10%; }
  .ucol-md-2 {
    width: 20%; }
  .ucol-md-3 {
    width: 30%; }
  .ucol-md-4 {
    width: 40%; }
  .ucol-md-5 {
    width: 50%; }
  .ucol-md-6 {
    width: 60%; }
  .ucol-md-7 {
    width: 70%; }
  .ucol-md-8 {
    width: 80%; }
  .ucol-md-9 {
    width: 90%; } }

.tramite_tipo {
  background-color: #f6f6f6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 4px;
  margin-top: 36px; }

.tramite_tipo span {
  font-size: 26px;
  margin-left: 8px; }

.tramite_tipo img {
  border: none !important; }

.pane-node-field-tramite-costo {
  background-color: #f6f6f6;
  padding: 12px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 1px solid #e8e8e8;
  margin-top: 12px; }

.pane-node-field-tramite-costo h2 {
  margin-top: 0px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: #ccc;
  line-height: 42px;
  font-weight: bold; }

.pane-node-field-tramite-costo div.pane-content .field .field-items .field-item {
  text-align: center;
  color: #476a2d;
  font-weight: bold;
  font-size: 28px;
  color: #ff8915; }

.linklateral {
  background-color: #f6f6f6;
  padding: 12px;
  margin-top: 12px; }

.linklateral h2 {
  margin-top: 0px;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc; }

.pane-node-field-requisitos {
  background-color: #F5F2EC;
  padding: 22px;
  border-radius: 12px; }

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn {
  font-family: inherit; }

.bg-grey {
  background-color: #fff; }

.main-container.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.logo.navbar-btn {
  padding: 15px 0; }

/* Modificadores para las pastillas de noticias*/
.u-thumbnail.thumbnail {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  border: none; }
  .u-thumbnail.thumbnail .img-thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }

.mm-box {
  background-color: #ee3737;
  font-size: 1.5em;
  padding-left: 10px;
  line-height: 1.6;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

.region.region-navigation {
  position: absolute;
  right: 15px;
  top: 20px; }

/* NAVBAR modificado */
.navbar {
  background: transparent;
  margin-bottom: 5px; }

.navbar-header {
  float: none; }

.navbar-default .navbar-nav {
  width: 100%;
  padding: 0 15px;
  background: #ee3737;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .navbar-default .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase; }
    .navbar-default .navbar-nav li a:hover {
      background: #ec1f1f;
      color: #fff;
      -webkit-transition: all 0.07s ease-out;
      -moz-transition: all 0.07s ease-out;
      -o-transition: all 0.07s ease-out;
      transition: all 0.07s ease-out; }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    padding: 3px 15px !important; }
  .navbar-default .navbar-nav > .active {
    background-color: blue; }
    .navbar-default .navbar-nav > .active > a {
      background: #ef4040; }
      .navbar-default .navbar-nav > .active > a:hover {
        background: #ec1f1f; }
      .navbar-default .navbar-nav > .active > a:focus {
        background: #ec1f1f; }

.navbar-toggle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #ee3737;
  border-color: #ee3232; }

@media (max-width: 768px) {
  #block-widgets-s-socialmedia-profile-default {
    display: none; }
  .navbar-default {
    padding: 15px;
    margin: 0; }
  .navbar-collapse {
    margin-left: 0 !important;
    padding-left: 15px; } }

/* Separador */
.separator.linea {
  height: auto;
  padding: 30px 0; }
  .separator.linea hr {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    height: 1px;
    background: #ddd; }

.pane-node-field-paginas-relacionadas h2 {
  font-size: 20px; }

.modal-content {
  text-align: center !important; }

.field-name-field-links-relacionados .field-item, .field-name-field-paginas-relacionadas .field-item {
  border-bottom: 2px solid #e4e4e4;
  padding: 7px  12px;
  margin-bottom: 3px; }

.pane-node-field-paginas-relacionadas h2 {
  font-size: 20px;
  background-color: rgba(230, 228, 215, 0.38);
  padding: 7px 12px;
  margin: 0px 0px 7px 0px;
  border-radius: 6px; }

.pane-node-field-links-relacionados h2 {
  font-size: 20px;
  background-color: rgba(230, 228, 215, 0.38);
  padding: 7px 12px;
  margin: 0px 0px 7px 0px;
  border-radius: 6px; }

table {
  background-color: #f5f5f5; }

table tr td {
  border: 1px solid #999 !important;
  padding: 6px; }

.pane-node-field-descargas {
  font-size: 20px;
  background-color: rgba(230, 228, 215, 0.38);
  padding: 7px 12px;
  margin: 0px 0px 7px 0px;
  border-radius: 6px; }
